.Header {
  background-color: rgb(8, 38, 38);
  width: 100%;
  font-size: 40px;
  color: white;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(100deg, rgb(78, 36, 36), grey);
}
.main {
  display: inline-flex;
   width:100%;
   height: 400px;
  background:linear-gradient(100deg,rgb(113, 64, 64),rgb(78, 91, 78))
}
.mainbody {
  margin-top: 30px;
}
.Footer {
  background-color: rgb(2, 18, 10);
  color: white;
  background: linear-gradient(100deg, rgb(78, 36, 36), grey);
  font-size: 40px;
  text-align: center;
  width: 100%;
}
aside {
  height: 400px;
  width: 120px;
  color: white;
  background-color: rgb(12, 122, 86);
  background: linear-gradient(100deg, rgb(78, 36, 36), grey);
  font-size: 22px;
  text-align: center;
  
}
.form-box {
  width: 250px;
  height: auto;
  color: white;
  background: #98f159;
  padding: 20px;
  margin-left: 50px;
  border-radius: 12px;
  background: linear-gradient(100deg, rgb(78, 36, 36), grey);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
}
.y {
  background-color: rgb(178, 233, 233);
  border-radius: 5px;
  margin-bottom: 5px;
}
button {
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  background: rgb(39, 57, 66);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 100px;
}

.but:hover {
  background: rgb(54, 124, 95);
}
.but{
  width:80px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  background:rgb(76, 34, 34);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  
}