.body{
    background-color:gray;
    text-align: center;
    
    
}

.h2{
    margin-top: 100px;
    background-color: aliceblue;
    border-radius: 500px;
    margin-bottom: 50px;
    width: 150px;
    height: 50px;
    margin-left: 80px;
}
.container{
    
    text-align: center;
    background-color: aqua;
    height: 300px;
    width: 300px;
    margin-left: 200px;
    border-radius: 1000px;
}